asgiref==3.8.1
async-timeout==4.0.3
beautifulsoup4==4.12.3
certifi==2024.2.2
charset-normalizer==3.3.2
decorator==4.4.2
Django==5.1.2
django-appconf==1.0.6
django-cleanup==8.1.0
django-environ==0.11.2
django-livereload==1.7
ffmpeg-python==0.2.0
future==1.0.0
git-filter-repo==2.38.0
idna==3.7
imageio==2.34.1
imageio-ffmpeg==0.4.9
moviepy==1.0.3
numpy==1.26.4
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
Pillow==9.5.0
proglog==0.1.10
psycopg2-binary==2.9.9
rcssmin==1.1.2
redis==5.1.1
requests==2.32.2
rjsmin==1.2.2
sentry-sdk==2.16.0
soupsieve==2.5
sqlparse==0.5.0
tornado==6.4
tqdm==4.66.4
typing_extensions==4.11.0
urllib3==2.2.1
whitenoise==6.8.2
