{% extends 'base.html' %}
{% load static %}
{% block title %}O mne{% endblock %}

{% block content %}

<div class="container_about_me">
    <div class="content-about-me">
        <!-- <img class="logo-cierne-1" src="{% static 'media/logo_cierne.png' %}" /> -->
        <div class="tro-ku-o-mne"> Trošku o mne </div>
        <div class="line_center_about_me" >
            <svg height="100%" stroke-miterlimit="10" style="fill-rule:nonzero;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;" version="1.1" viewBox="0 0 29.7939 613.738" width="100%" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs/>
                <g id="Layer-1">
                <path d="M15.4714 8.91668L15.3701 605.8" fill="black" fill-rule="nonzero" opacity="1" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.1" class="line"/>
                </g>
            </svg>
        </div>
        <div class="text-about-me1"> 
            <p>
                Ahoj, som Ivana <span>tvorím autorské diela</span> zo striebra a šperkárskeho cínu.
                <br/>Tvorím intuitívne, v dielach sa odráža moja osobnosť a nálada. 
                <br/>Šperky osobne navrhujem na mieru a podľa <span>požiadavky zákazníka</span>.
            </p>
        </div>
        <div class="image_neckless">
            <img src="{% static 'media/nahrdelnik.jpg' %}" loading="lazy"/>
        </div>
        <div class="text-about-me">
            <p>
                Kombinujem <span>prírodné</span> materiály s chladným kovom. 
                Šperky sú vyrábané s precíznosťou a <span>jemnosťou</span> a dušu im dodávajú polodrahokamy, ktoré osobne vyberám,
                ktoré majú <span>výnimočné</span> tvary, farby, veľkosti, aj vďaka tomu nie je možné vyrobiť rovnaký šperk. 
            </p>
        </div>
        <div class="text-about-me">
            <p>
                Mám <span>vyštudovanú</span> školu úžitkového výtvarníctva v 
                Kremnici v odbore plošné a plastické <span>rytie kovov</span>, 
                popri ktorom som voľne študovala aj odbor <span>zlatníctvo-strieborníctvo</span>. 
                Pri tvorení s radosťou využívam aj moje znalosti z 
                obdobia štúdia na <span>Technickej univerzite</span> v Bratislave zo zameraním na
                Krajinnú architektúru a krajinné plánovanie.
                <br />K šperku mám veľmi blízko a v spojení mojich štúdii som si našla moju <span>prácu snov</span>
                <br /><span>Inšpirujú ma rôzne</span> situácie, ľudia, miesta, podnety... 
            </p>
        </div>
    </div>
</div>
{% endblock %}



<div class="container_home starter">
    {% for product in products %}
    <div class="box_home">
        <img src="{{ product.image.url }}" alt="{{ product.name }}" loading="lazy">
    </div>  
    {% endfor %}
</div>