{% extends 'base.html' %}
{% load static %}
{% block title %}Pridat kategóriu{% endblock %}

{% block content %}
<div class="container_add_product">
    <h1>Add category</h1>
    <form id="category-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_name">Názov:</label>
            {{ form.name }}
        </div>
            {{ form.slug }}
        <div class="form-group">
            <label for="id_image">Obrázok:</label>
            {{ form.image }}
            <div id="image-preview">
                <p id="file-name-image"></p>
                <img id="image-thumb" style="display: none; max-width: 200px; max-height: 200px;">
            </div>
            {% if form.errors.image %}
                <div class="alert alert-danger">{{ form.errors.image }}</div>
            {% endif %}
        </div>

        <!-- <div class="form-group">
            <label for="id_name">Názov:</label>
            {{ form.name }}
        </div>
        <div class="form-group">
            <label for="id_image">Obrázok:</label>
            {{ form.image }}
            {% if form.errors.image %}
                <div class="alert alert-danger">{{ form.errors.image }}</div>
            {% endif %}
        </div> -->
        <button id="save-button" type="submit" >Save</button>
        <div id="loading-message" style="display: none;">Kategória sa nahráva, prosím čakajte...</div>
    </form>
</div>



<script>
    document.getElementById('id_image').addEventListener('change', function(event) {
        const fileInput = event.target;
        const file = fileInput.files[0];
        const fileName = document.getElementById('file-name-image');
        const imageThumb = document.getElementById('image-thumb');
    
        if (file) {
            // Display the file name
            fileName.textContent = file.name;
    
            // Create a URL for the selected file and display the image preview
            const reader = new FileReader();
            reader.onload = function(e) {
                imageThumb.src = e.target.result;
                imageThumb.style.display = 'block';
            }
            reader.readAsDataURL(file);
        } else {
            // Clear the file name and hide the image preview if no file is selected
            fileName.textContent = '';
            imageThumb.style.display = 'none';
            imageThumb.src = '';
        }
    });
    
    </script>
{% endblock %}