{% extends 'base.html' %}
{% load static %}
{% block title %}Pridat kategóriu{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/crud.css' %}">
<div class="container_add_product">
    <h1>Add category</h1>
    <form id="category-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_name">Názov:</label>
            {{ form.name }}
        </div>
            {{ form.slug }}
        <div class="form-group media">
            <label for="id_image">Obrázok:</label>
            {{ form.image }}
            <div id="image-preview">
                <p id="file-name-image"></p>
                <img id="image-thumb" style="display: none; max-width: 200px; max-height: 200px;">
            </div>
            {% if form.errors.image %}
                <div class="alert alert-danger">{{ form.errors.image }}</div>
            {% endif %}
        </div>

        <!-- <div class="form-group">
            <label for="id_name">Názov:</label>
            {{ form.name }}
        </div>
        <div class="form-group">
            <label for="id_image">Obrázok:</label>
            {{ form.image }}
            {% if form.errors.image %}
                <div class="alert alert-danger">{{ form.errors.image }}</div>
            {% endif %}
        </div> -->
        <button id="save-button" type="submit" >Save</button>
        <div id="loading-message" style="display: none;">Kategória sa nahráva, prosím čakajte...</div>
    </form>
</div>




{% endblock %}