{% extends 'base.html' %}
{% load static %}
{% block title %}Pridať produkt{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/crud.css' %}">
<div class="container_add_product">
    <h1>Pridať produkt</h1>
    <form id="product-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group">
            <label for="id_name">Názov:</label>
            {{ form.name }}
        </div>
        <div class="form-group" spellcheck="true">
            <label for="id_description">Popis:</label>
            {{ form.description }}
        </div>
        {{ form.slug }}
        <div class="form-group">
            <label for="id_category">Kategória:</label>
            {{ form.category }}
        </div>
        {% if user.is_authenticated %}
        <a href="{% url 'add_category' %}" class="btn">Nová kategória</a>
        {% endif %}
        <div class="form-group">
            <label for="id_available">Dostupné:</label>
            {{ form.available }}
        </div>
        <!-- {{ form.as_p }} -->
        <div class="form-group media">
            <label for="id_image">Obrázok:</label>
            {{ form.image }}
            <!-- <input type="file" name="image" accept="image/*" id="id_image"> -->
            <div id="image-preview">
                <p id="file-name-image"></p>
                <img id="image-thumb" style="display: none; max-width: 200px; max-height: 200px;">
            </div>
            {% if form.errors.image %}
                <div class="alert alert-danger">{{ form.errors.image }}</div>
            {% endif %}
        </div>
        <div class="form-group media">
            <label for="id_video">Video:</label>
            {{ form.video }}
            <div id="video-preview">
                <p id="file-name"></p>
                <video id="video-thumb" controls style="display: none; max-width: 200px; max-height: 200px;"></video>
            </div>
            {% if form.errors.video %}
                <div class="alert alert-danger">{{ form.errors.video }}</div>
            {% endif %}
        </div>


        <button class="btn type1" id="save-button" type="submit" >Uložiť</button>
        <div id="loading-message" style="display: none;">
            Produkt sa nahráva, prosím čakajte...
            <div class="chaotic-orbit"></div>
        </div>
    </form>
</div>




<script>
    document.getElementById('id_image').addEventListener('change', function(event) {
        const fileInput = event.target;
        const file = fileInput.files[0];
        const fileName = document.getElementById('file-name-image');
        const imageThumb = document.getElementById('image-thumb');
    
        if (file) {
            // Display the file name
            fileName.textContent = file.name;
    
            // Create a URL for the selected file and display the image preview
            const reader = new FileReader();
            reader.onload = function(e) {
                imageThumb.src = e.target.result;
                imageThumb.style.display = 'block';
            }
            reader.readAsDataURL(file);
        } else {
            // Clear the file name and hide the image preview if no file is selected
            fileName.textContent = '';
            imageThumb.style.display = 'none';
            imageThumb.src = '';
        }
    });
    
    </script>


<script>
    document.getElementById('id_video').addEventListener('change', function(event) {
    const fileInput = event.target;
    const file = fileInput.files[0];
    const fileName = document.getElementById('file-name');
    const videoThumb = document.getElementById('video-thumb');

    if (file) {
        // Display the file name
        fileName.textContent = file.name;

        // Create a URL for the selected file and display the video preview
        const reader = new FileReader();
        reader.onload = function(e) {
            videoThumb.src = e.target.result;
            videoThumb.style.display = 'block';
        }
        reader.readAsDataURL(file);
    } else {
        // Clear the file name and hide the video preview if no file is selected
        fileName.textContent = '';
        videoThumb.style.display = 'none';
        videoThumb.src = '';
    }
});

</script>



<script>
    const defaultFileUploadButton = document.getElementById('file-upload-button');
    defaultFileUploadButton.style.display = 'none';
</script>

<script>
    // Získání formuláře
    const form = document.getElementById('product-form');
    // Získání tlačítka "Save"
    const saveButton = document.getElementById('save-button');
    // Získání zprávy o nahrávání
    const loadingMessage = document.getElementById('loading-message');

    // Přidání posluchače události na formulář pro deaktivaci tlačítka "Save" při odesílání formuláře
    form.addEventListener('submit', function(event) {
        // Deaktivace tlačítka "Save"
        saveButton.disabled = true;
        // Zobrazení zprávy o nahrávání
        loadingMessage.style.display = 'flex';
    });

    // Přidání posluchače události na pole "video" pro povolení / zakázání tlačítka "Save" v závislosti na tom, zda je vybráno video pro nahrání
    const videoField = document.getElementById('id_video');
    videoField.addEventListener('change', function() {
        if (this.files.length > 0) {
            // Pokud je vybráno video, povolíme tlačítko "Save"
            saveButton.disabled = false;
        } else {
            // Pokud není vybráno žádné video, zakážeme tlačítko "Save"
            saveButton.disabled = true;
        }
    });
</script>
{% endblock %}