{% extends 'base.html' %}
{% load static %}
{% block title %}Pridať blog{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/crud.css' %}">
<div class="container_add_product">
    <h1>Pridať blog</h1>
    <form id="blog-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="id_name">Názov:</label>
            {{ form.name }}
        </div>
        {{ form.slug }}
        <div class="form-group">
            <label for="id_description">Popis:</label>
            {{ form.description }}
        </div>
        <div class="form-group">
            <label for="id_available">Dostupné:</label>
            {{ form.available }}
        </div>
        <div class="form-group">
            <label for="id_images">Obrázky:</label>
            {% for image_form in image_forms %}
                <div class="image-upload">
                    {{ image_form.image }}
                    {% if image_form.image.errors %}
                        <div class="error">{{ image_form.image.errors }}</div>
                    {% endif %}
                    <div class="image-preview">
                        <p class="file-name"></p>
                        <img class="image-thumb" style="display: none; max-width: 200px; max-height: 200px;">
                    </div>
                </div>
            {% endfor %}
        </div>
        <button class="btn type1" id="save-button" type="submit">Uložiť</button>
        <div id="loading-message" style="display: none;">
            Blog sa nahráva, prosím čakajte...
            <div class="chaotic-orbit"></div>
        </div>
    </form>
</div>


{% endblock %}
