{% extends 'base.html' %}
{% load static %}
{% block title %}Pridať produkt{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/crud.css' %}">
<div class="container_add_product">
    <h1>Pridať produkt</h1>
    <form id="product-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group">
            <label for="id_name">Názov:</label>
            {{ form.name }}
        </div>
        <div class="form-group" spellcheck="true">
            <label for="id_description">Popis:</label>
            {{ form.description }}
        </div>
        {{ form.slug }}
        <div class="form-group">
            <label for="id_category">Kategória:</label>
            {{ form.category }}
        </div>
        {% if user.is_authenticated %}
        <a href="{% url 'toto_sperky_web:add_category' %}" class="btn">Nová kategória</a>
        {% endif %}
        <div class="form-group">
            <label for="id_available">Dostupné:</label>
            {{ form.available }}
        </div>
        <!-- {{ form.as_p }} -->
        <div class="form-group media">
            <label for="id_image">Obrázok:</label>
            {{ form.image }}
            <!-- <input type="file" name="image" accept="image/*" id="id_image"> -->
            <div id="image-preview">
                <p id="file-name-image"></p>
                <img id="image-thumb" style="display: none; max-width: 200px; max-height: 200px;">
            </div>
            {% if form.errors.image %}
                <div class="alert alert-danger">{{ form.errors.image }}</div>
            {% endif %}
        </div>
        <div class="form-group media">
            <label for="id_video">Video:</label>
            {{ form.video }}
            <div id="video-preview">
                <p id="file-name"></p>
                <video id="video-thumb" controls style="display: none; margin: 0 auto; max-width: 250px; max-height: 250px;"></video>
            </div>
            {% if form.errors.video %}
                <div class="alert alert-danger">{{ form.errors.video }}</div>
            {% endif %}
        </div>

        
        <button class="btn type1" id="save-button" type="submit" >Uložiť</button>
        <div id="loading-message" style="display: none;">
            Produkt sa nahráva, prosím čakajte...
            <div class="progress-bar">
                <div class="progress-bar-fill" id="progress-bar-fill" style="width: 0%;"></div>
            </div>
            <div id="upload-progress" style="display: none;">
                <p><span id="progress-percentage">0</span>%</p>
            </div>
            <div class="chaotic-orbit"></div>
        </div>
    </form>
</div>




<script>
    document.getElementById('id_image').addEventListener('change', function(event) {
        const fileInput = event.target;
        const file = fileInput.files[0];
        const fileName = document.getElementById('file-name-image');
        const imageThumb = document.getElementById('image-thumb');
    
        if (file) {
            // Display the file name
            fileName.textContent = file.name;
    
            // Create a URL for the selected file and display the image preview
            const reader = new FileReader();
            reader.onload = function(e) {
                imageThumb.src = e.target.result;
                imageThumb.style.display = 'block';
            }
            reader.readAsDataURL(file);
        } else {
            // Clear the file name and hide the image preview if no file is selected
            fileName.textContent = '';
            imageThumb.style.display = 'none';
            imageThumb.src = '';
        }
    });
    
    </script>


<script>
    document.getElementById('id_video').addEventListener('change', function(event) {
    const fileInput = event.target;
    const file = fileInput.files[0];
    const fileName = document.getElementById('file-name');
    const videoThumb = document.getElementById('video-thumb');

    if (file) {
        // Display the file name
        fileName.textContent = file.name;

        // Create a URL for the selected file and display the video preview
        const reader = new FileReader();
        reader.onload = function(e) {
            videoThumb.src = e.target.result;
            videoThumb.style.display = 'block';
        }
        reader.readAsDataURL(file);
    } else {
        // Clear the file name and hide the video preview if no file is selected
        fileName.textContent = '';
        videoThumb.style.display = 'none';
        videoThumb.src = '';
    }
});

</script>



<script>
    const defaultFileUploadButton = document.getElementById('file-upload-button');
    defaultFileUploadButton.style.display = 'none';
</script>

<script>
    const form = document.getElementById('product-form');
    const saveButton = document.getElementById('save-button');
    const loadingMessage = document.getElementById('loading-message');

    let progressInterval;

    function fetchProgress() {
        const timestamp = new Date().getTime();
        fetch(`/get_video_progress/?t=${timestamp}`, {
            headers: {
                'Accept': 'application/json',
                'X-Requested-With': 'XMLHttpRequest',
                'Cache-Control': 'no-cache'
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }
            return response.json();
        })
        .then(data => {
            const progressElement = document.getElementById('progress-percentage');
            const progressBarElement = document.getElementById('progress-bar-fill');
            
            if (data && typeof data.progress !== 'undefined') {
                progressElement.textContent = data.progress;
                progressBarElement.style.width = data.progress + '%';
                
                if (data.progress >= 100) {
                    clearInterval(progressInterval);
                    document.getElementById('upload-progress').style.display = 'none';
                }
            }
        })
        .catch(error => {
            console.error('Chyba pri získavaní progresu:', error);
        });
    }

    form.addEventListener('submit', function(event) {
        event.preventDefault();
        
        saveButton.disabled = true;
        loadingMessage.style.display = 'flex';
        document.getElementById('upload-progress').style.display = 'block';
        
        progressInterval = setInterval(() => {
            fetchProgress();
        }, 1000);
        
        const formData = new FormData(form);
        fetch(form.action, {
            method: 'POST',
            body: formData,
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Chyba pri odosielaní formulára');
            }
            return response.text();
        })
        .then(() => {
            window.location.href = '/gallery/';
        })
        .catch(error => {
            console.error('Chyba pri odosielaní formulára:', error);
            clearInterval(progressInterval);
            saveButton.disabled = false;
            loadingMessage.style.display = 'none';
        });
    });
</script>
{% endblock %}