{% extends 'base.html' %}
{% load static %}
{% block title %}Blog{% endblock %}

{% block meta_description %}
<meta name="description" content="Prečítajte si najnovšie články na našom blogu o trendoch v šperkoch, návodoch na starostlivosť a inšpiráciách pre vaše ďalšie kúsky.">
{% endblock %}

{% block content %}


<section class="container_blog">
    <h3 class="title_blog"> Blog </h3>
    {% for blog in blogs %}
        <div class="line_center_about_me" >
        <svg height="100%" stroke-miterlimit="10" style="fill-rule:nonzero;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;" version="1.1" viewBox="0 0 29.7939 613.738" width="100%" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs/>
            <g id="Layer-1">
            <path d="M15.4714 8.91668L15.3701 605.8" fill="black" fill-rule="nonzero" opacity="1" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.1" class="line"/>
            </g>
        </svg>
    </div>
    <a href="{{ blog.get_absolute_url }}">
        <article class="blog-post">
            <div class="blog-header" style="background-image: url('{{ blog.images.first.image.url }}');">
                <div class="blog-info">
                    <h2>{{ blog.name }}</h2>
                    <p>Napísané: {{ blog.created|date:"j/n/Y" }}</p>
                    <p>Čas čítania: {{ blog.reading_time }}</p>
                </div>
            </div>
            <div class="blog-content">
                <p>{{ blog.description }}</p>
            </div>
        </article>
    </a>
    {% endfor %}
    
    {% if user.is_authenticated %}
    <div class="home_buttons">
        <a href="{% url 'add_blog' %}" class="btn type1">Pridať článok</a>
    </div>
    {% endif %}
</section>

{% endblock %}