{% extends 'base.html' %}
{% load static %}
{% block title %}Informácie o Cookies{% endblock %}





{% block content %}
<div class="cookies_container">
    <h1>Zásady používania súborov cookie (EÚ)</h1>
    <h7>This Cookie Policy was last updated on 9. júl 2023 and applies to citizens and legal permanent residents of the European Economic Area and Switzerland.</h2>
    <p>    
        1. Úvod
        Naša webová stránka, https://georeal.biz (ďalej len „webová stránka“) používa súbory cookie a ďalšie súvisiace technológie (všetky technológie sa kvôli pohodliu označujú ako „súbory cookie“). Súbory cookie umiestňujú aj tretie strany, ktoré sme zapojili. V nižšie uvedenom dokumente vás informujeme o používaní súborov cookie na našich webových stránkach.
    </p>  
    <p> 
        2. Čo sú cookies?
        Cookie je malý jednoduchý súbor, ktorý je odoslaný spolu so stránkami tohto webu a uložený vašim prehliadačom na pevnom disku vášho počítača alebo iného zariadenia. Informácie v nich uložené môžu byť vrátené na naše servery alebo na servery príslušných tretích strán počas nasledujúcej návštevy.
    </p>     
        3. Čo sú skripty?
        Skript je časť programového kódu, ktorý sa používa na správnu a interaktívnu funkciu našich webových stránok. Tento kód sa spustí na našom serveri alebo na vašom zariadení.
    <p>  
        4. Čo je to webový maják?
        Webový maják (alebo pixelová značka) je malý neviditeľný text alebo obrázok na webovej stránke, ktorý sa používa na monitorovanie návštevnosti webových stránok. Za týmto účelom sa pomocou webových majákov ukladajú rôzne údaje o vás.
    </p> 
    <p>    
        5. Cookies
        5.1 Technické alebo funkčné cookies
        
        Niektoré súbory cookie zaisťujú, že určité časti webových stránok fungujú správne a že vaše preferencie používateľov zostanú známe. Umiestnením funkčných súborov cookie vám uľahčujeme návštevu našich webových stránok. Takto nemusíte pri návšteve našich webových stránok opakovane zadávať rovnaké informácie a napríklad položky zostanú vo vašom nákupnom košíku, kým nezaplatíte. Tieto súbory cookie môžeme umiestňovať bez vášho súhlasu.
            
        5.2 Marketingové/sledovacie cookies
        
        Marketingové/sledovacie súbory cookie sú súbory cookie alebo akákoľvek iná forma miestneho úložiska, ktoré sa používajú na vytváranie profilov používateľov na zobrazenie reklamy alebo na sledovanie používateľa na tomto webe alebo na niekoľkých webových stránkach na podobné marketingové účely.
    </p>
    <p>
        6. Umiestnené cookies
        Uncode
        Funkčné, nutné
        
        Consent to service uncode
        Google Maps
        Marketingové
        
        Consent to service google-maps
        iThemes Security
        Funkčné, nutné
        
        Consent to service ithemes-security
        Rôzne
        Účel čakajúceho vyšetrovania
        
        Consent to service rôzne
    </p>
    <p>
        7. Súhlas
        Keď navštívite náš web prvýkrát, ukážeme vám kontextové okno s vysvetlením o súboroch cookie. Akonáhle kliknete na „Uložiť predvoľby“, súhlasíte s tým, že použijeme kategórie súborov cookie a doplnkov, ktoré ste vybrali v kontextovom okne, ako je to popísané v týchto zásadách používania súborov cookie. Používanie súborov cookie môžete zakázať prostredníctvom svojho prehliadača, ale upozorňujeme, že náš web už nemusí správne fungovať.
    </p> 
        7.1 Spravujte svoje nastavenia súhlasu
    <p>   
        Funkčné
        Vždy aktívny
        Marketing
    </p>  
    <p>
        Marketing
    </p>
    <p>
        8. Povolenie/zakázanie a odstraňovanie súborov cookie
        Váš internetový prehliadač môžete použiť na automatické alebo manuálne mazanie cookies. Môžete tiež špecifikovať, že niektoré súbory cookie nemusia byť umiestnené. Ďalšou možnosťou je zmeniť nastavenia svojho internetového prehliadača tak, aby ste dostali správu vždy, keď sa umiestni súbor cookie. Ďalšie informácie o týchto možnostiach nájdete v pokynoch v časti Pomocník vášho prehliadača.
    </p>
    <p>
        Please note that our website may not work properly if all cookies are disabled. If you do delete the cookies in your browser, they will be placed again after your consent when you visit our website again.
    </p>  
        
    <p>  
        9. Vaše práva v súvislosti s osobnými údajmi
        Pokiaľ ide o vaše osobné údaje, máte nasledujúce práva:
        
        Máte právo vedieť, prečo sú vaše osobné údaje potrebné, čo sa s nimi stane a ako dlho budú uchovávané.
        Právo na prístup: Máte právo na prístup k svojim osobným údajom, ktoré sú nám známe.
        Právo na opravu: máte právo kedykoľvek doplniť, opraviť, vymazať alebo zablokovať vaše osobné údaje.
        Ak nám udelíte súhlas so spracovaním vašich údajov, máte právo tento súhlas odvolať a vymazať vaše osobné údaje.
        Právo na prenos vašich údajov: máte právo požadovať od správcu všetky svoje osobné údaje a preniesť ich v celom rozsahu k ďalšiemu prevádzkovateľovi.
        Právo namietať: môžete vzniesť námietku proti spracovaniu vašich údajov. Dodržiavame to, pokiaľ neexistujú odôvodnené dôvody na spracovanie.
        Ak chcete uplatniť tieto práva, kontaktujte nás. Pozrite sa na kontaktné údaje v spodnej časti týchto zásad používania súborov cookie. Ak máte sťažnosť na to, ako narábame s vašimi údajmi, radi by sme vás počuli, ale máte tiež právo podať sťažnosť dozornému orgánu (úradu na ochranu údajov).
    </p> 
    <p>
        10. Kontaktné údaje
        Ak máte otázky alebo pripomienky k našim zásadám používania súborov cookie a tomuto vyhláseniu, kontaktujte nás pomocou nasledujúcich kontaktných údajov:
    </p>    
    <p>   
        This Cookie Policy was synchronized with cookiedatabase.org on 9. júl 2023.
    </p>
</div>


{% endblock %}