{% extends 'base.html' %}
{% load static %}
{% block title %}Odstrániť produkt{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/crud.css' %}">
<div class="container_add_product">
    <h1>Odstrániť produkt</h1>
    <p>Naozaj si prajete odstrániť produkt "{{ product.name }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button class="btn delete" type="submit">Áno, odstrániť</button>
        <a href="{% url 'update_product' product.slug %}" class="">
            <button class="btn cancel" type="button">Nie</button>
        </a>
    </form>
</div>

{% endblock %}