{% extends 'base.html' %}
{% load static %}
{% block title %}Odstrániť kategóriu{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/crud.css' %}">
<div class="container_add_product">
    <h1>Odstrániť kategóriu</h1>
    <p>Naozaj si prajete odstrániť kategóriu "{{ category.name }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn delete">Áno, odstrániť</button>
        <a href="{% url 'update_category' category.slug %}" class="">
            <button class="btn cancel" type="button">Nie</button>
        </a>
    </form>
</div>

{% endblock %}