{% extends 'base.html' %}
{% load static %}
{% block title %}Odstrániť blog{% endblock %}

{% block content %}
<div class="container_add_product">
    <h1>Odstrániť blog</h1>
    <p>Naozaj si prajete odstrániť produkt "{{ blog.name }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button class="btn delete" type="submit">Áno, odstrániť</button>
        <a href="{% url 'update_blog' blog.slug %}" class="">
            <button class="btn cancel" type="button">Nie</button>
        </a>
    </form>
</div>

{% endblock %}