{% extends 'base.html' %}
{% load static %}
{% block title %}Galllery{% endblock %}

{% block content %}

<div class="gallery_content_page">
    <div class="categories">
        <!-- <h3 class="">Kategorie</h3> -->
        <ul class="categories-list">
            <div class="categories_item">
                <li {% if not selected_category %} class="selected"{% endif %}><a class="category-link" href="/gallery">Všetko</a></li>
            </div>
            {% for category in categories %}
            <div class="categories_item">
                <li {% if category.slug == selected_category %} class="selected"{% endif %}>
                    <a  class="category-link" href="/gallery?category={{ category.slug }}">{{ category.name }}</a>
                    {% if user.is_authenticated %}
                        <a class="category_update" href="{% url 'update_category' category.slug %}">Upraviť</a>
                    {% endif %}
                    {% if category.image %}
                    <img src="{{ category.image.url }}" alt="{{ category.name }}" class="gallery-image"  data-slug="{{ product.slug }}">
                    {% endif %}
                </li>
            </div>
            {% endfor %}
        </ul>
    </div>
    {% include "partials/product_list.html" %}
    
        {% if not products %}
        <p>No products found.</p>
        {% endif %}

    </div>

</div>
 
<!-- test -->

<script>
    function initializeGSAPAnimations() {
        gsap.utils.toArray('.container').forEach((elem) => {
            let lines = elem.querySelectorAll('.container .box');

            lines.forEach((line) => {
                let timeline = gsap.timeline({
                    ease: "elastic",
                    scrollTrigger: {
                        trigger: line,
                        start: "top 630svh",
                        end: "bottom 600svh",
                        scrub: false,
                        toggleActions: "restart none none reverse",
                    },
                });

                timeline.from(line, { opacity: 0, y: 20 });
            });
        });

        gsap.registerPlugin(ScrollTrigger);

        gsap.utils.toArray('.line_center_short').forEach((elem) => {
            let line = elem.querySelector('.line');
            let lineLength = line.getTotalLength();

            line.style.strokeDasharray = lineLength;
            line.style.strokeDashoffset = lineLength;

            let Timeline = gsap.timeline({
                scrollTrigger: {
                    trigger: elem,
                    easy: "linear",
                    start: "top 500svh",
                    end: "bottom 300svh",
                    scrub: true,
                }
            });

            Timeline
                .to(line, { strokeDashoffset: 0 })
        });

    }

    document.addEventListener('DOMContentLoaded', function () {
        initializeGSAPAnimations();

        document.querySelectorAll('.category-link').forEach(link => {
            link.addEventListener('click', function (e) {
                e.preventDefault();
                var url = this.getAttribute('href');

                fetch(url, { method: 'GET' })
                    .then(response => response.text())
                    .then(html => {
                        var newContent = $(html).find('.gallery_container').html();
                        $('.gallery_container').html(newContent);

                        document.querySelectorAll('.category-link').forEach(l => {
                            l.parentElement.classList.remove('selected');
                        });

                        this.parentElement.classList.add('selected');

                        initializeGSAPAnimations();

                        // Pridá triedy wide/tall po načítaní obsahu AJAX-om
                        checkAspectRatio();
                    })
                    .catch(error => console.error('Chyba pri načítaní produktov:', error));
            });
        });
    });

    // Funkcia na zistenie tried wide/tall
    function checkAspectRatio() {
        const videos = document.querySelectorAll('.container .box a video');

        videos.forEach(video => {
            const width = video.videoWidth;
            const height = video.videoHeight;

            // Ak je šírka väčšia ako výška, pridaj triedu wide, inak pridaj triedu tall
            if (width > height) {
                video.closest('.box').classList.add('wide');
            } else {
                video.closest('.box').classList.add('tall');
            }
        });

        const images = document.querySelectorAll('.container .box a img');

        images.forEach(image => {
            const width = image.naturalWidth;
            const height = image.naturalHeight;

            // Ak je šírka väčšia ako výška, pridaj triedu wide, inak pridaj triedu tall
            if (width > height) {
                image.closest('.box').classList.add('wide');
            } else {
                image.closest('.box').classList.add('tall');
            }
        });
    }

    // Spustíme funkciu po načítaní stránky
    window.onload = checkAspectRatio;
</script>


</script>








{% endblock %}