{% extends 'base.html' %}
{% load static %}
{% block title %}Toto{% endblock %}

{% block content %}
<div class="gallery_container">
    <div class="items_gallery">
        <ul>
            {% for product in products %}
            <li>
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                <h3>{{ product.name }}</h3>
                    <!-- <p>{{ product.description }}</p> -->
                </li>
            {% endfor %}
        </ul>
    </div>  
</div>

{% if not products %}
    <p>No products found.</p>
{% endif %}


{% endblock %}