<section class="spacer" style="height:100vh"></section>

<section class="sec_one svg_sec" style="height: 100vh; background-color: aquamarine; color:#000; font-size:20px; text-align: center;">
  <div class="container">
    <div class="sec_box">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia eum neque dolore earum eaque iusto aspernatur consequuntur harum ab, molestias eveniet deserunt consequatur. Quos voluptate totam dolorem, odit est a.
    </div>
  </div>
  <svg viewBox="0 0 456 1279" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg_shpe">
    <path d="M42 82C64.0914 82 82 64.0914 82 42C82 19.9086 64.0914 2 42 2C19.9086 2 2 19.9086 2 42C2 64.0914 19.9086 82 42 82Z" fill="none" class="dot" />
    <path d="M192 1277C214.091 1277 232 1259.09 232 1237C232 1214.91 214.091 1197 192 1197C169.909 1197 152 1214.91 152 1237C152 1259.09 169.909 1277 192 1277Z" fill="#none" class="dot" />
<path d="M314.629 198.311L314.706 698.24" fill="#181818" fill-rule="nonzero" opacity="1" stroke="#141414" stroke-linecap="round" stroke-linejoin="round" stroke-width="15" class="line" />
  </svg>
</section>
<section class="sec_one svg_sec" style="height: 100vh; background-color:burlywood; color:#fff; font-size:20px; text-align: center;">
  <div class="container">
    <div class="sec_box">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia eum neque dolore earum eaque iusto aspernatur consequuntur harum ab, molestias eveniet deserunt consequatur. Quos voluptate totam dolorem, odit est a.
    </div>
  </div>
  <svg viewBox="0 0 456 1279" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg_shpe">
    <path d="M42 82C64.0914 82 82 64.0914 82 42C82 19.9086 64.0914 2 42 2C19.9086 2 2 19.9086 2 42C2 64.0914 19.9086 82 42 82Z" fill="none" class="dot" />
    <path d="M192 1277C214.091 1277 232 1259.09 232 1237C232 1214.91 214.091 1197 192 1197C169.909 1197 152 1214.91 152 1237C152 1259.09 169.909 1277 192 1277Z" fill="#none" class="dot" />
    <path d="M73 59C376.552 210.161 478.292 358.036 378.22 502.625C278.148 647.214 221.44 745.797 208.097 798.375C188.083 864.097 244.791 946.25 378.22 1044.83C511.65 1143.42 461.614 1209.14 228.112 1242" fill="none" stroke="#030080" stroke-width="3" class="line" />
  </svg>
</section>

<section class="sec_one svg_sec" style="height: 100vh; background-color:cadetblue; color:#fff; font-size:20px; text-align: center;">
  <div class="container">
    <div class="sec_box">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia eum neque dolore earum eaque iusto aspernatur consequuntur harum ab, molestias eveniet deserunt consequatur. Quos voluptate totam dolorem, odit est a.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia eum neque dolore earum eaque iusto aspernatur consequuntur harum ab, molestias eveniet deserunt consequatur. Quos voluptate totam dolorem, odit est a.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia eum neque dolore earum eaque iusto aspernatur consequuntur harum ab, molestias eveniet deserunt consequatur. Quos voluptate totam dolorem, odit est a.
    </div>
  </div>
  <svg viewBox="0 0 456 1279" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg_shpe">
    <path d="M42 82C64.0914 82 82 64.0914 82 42C82 19.9086 64.0914 2 42 2C19.9086 2 2 19.9086 2 42C2 64.0914 19.9086 82 42 82Z" fill="none" class="dot" />
    <path d="M192 1277C214.091 1277 232 1259.09 232 1237C232 1214.91 214.091 1197 192 1197C169.909 1197 152 1214.91 152 1237C152 1259.09 169.909 1277 192 1277Z" fill="#none" class="dot" />
    <path d="M73 59C376.552 210.161 478.292 358.036 378.22 502.625C278.148 647.214 221.44 745.797 208.097 798.375C188.083 864.097 244.791 946.25 378.22 1044.83C511.65 1143.42 461.614 1209.14 228.112 1242" fill="none" stroke="#030080" stroke-width="3" class="line" />
  </svg>
</section>
<section class="spacer" style="height:100vh"></section>