{% extends 'base.html' %}
{% load static %}
{% block title %}Toto{% endblock %}



{% block content %}
<div class="main_home_container starter">
    <div class="main_image_container">
        <!-- <img src="{% static 'media/286009191_3233430306984063_7160859084952266432_n.jpg' %}" alt="logo"> -->
          
        <p>hellllllou 
        <br>Toto sperky test3
    </div>
</div>
<div class="container starter">
    {% for product in products %}
    <div class="box">
        <img src="{{ product.image.url }}" alt="{{ product.name }}">
    </div>  
    {% endfor %}
</div>

  

    

{% endblock %}