{% extends 'base.html' %}
{% load static %}
{% block title %}Toto{% endblock %}



{% block content %}
<div class="main_home_container starter">



    <div class="svg_container starter2">
        <svg height="100%" stroke-miterlimit="10" style="fill-rule:nonzero;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;" version="1.1" viewBox="0 0 59535 84199.5" width="100%" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:vectornator="http://vectornator.io" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs/>
            <clipPath id="ArtboardFrame">
            <rect height="84199.5" width="59535" x="0" y="0"/>
            </clipPath>
            <g clip-path="url(#ArtboardFrame)" id="Vrstva_x0020_1" vectornator:layerName="Vrstva_x0020_1">
            <path d="M-244.353 1587.88C1220 2574.96-842.892 12182.5 3917.08 14480.5C8677.06 16778.4 10243.7 15233.6 13222.2 18878.3C20675.1 27998.2 8378.09 23963.6 16148.6 36563.6C23759.2 48904 30287.5 35397.7 35535.4 38349.4C40783.2 41301.1 33110 46100.6 43116.6 52832.9C53123.3 59565.2 50754.1 62580.3 48118.9 66367.8C45483.6 70155.3 55181.9 77086 61124.1 77087.1" fill="none" opacity="1" stroke="black" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="56.7" class="line"/>
            </g>
            </svg>
    </div>


    <div class="main_image_container starter2">
        <img src="{% static 'media/logo_biele.png' %}" alt="logo">
        
        <!-- <p>
        Toto sperky
        </p> -->
        <!-- <div class="home_buttons">
            <button>Galeria</button>
            <button>Blog</button>
            <button>O mne</button>
        </div> -->
    </div>
    
</div>
<div class="text_home_about_me">
    <p>Ahoj, <br> som Ivana tvorím autorské diela zo striebra a šperkárskeho cínu.
        Tvorím intuitívne , v dielach sa odráža moja osobnosť a nálada.
        Šperky osobne navrhujem na mieru a podľa požiadavky zákazníka.
        </p>

</div>
<div class="container starter">
    {% for product in products %}
    <div class="box">
        <img src="{{ product.image.url }}" alt="{{ product.name }}">
    </div>  
    {% endfor %}
</div>

  

    

{% endblock %}