{% load static %}
<div class="wrapper starter">
    <div class="main_navbar">
        <div class="inner_navbar">
            <div class="logo">
                <!-- <a href="/"><img src="{% static 'media/logo.jpg' %}" alt="logo"></a> -->
            </div>
            <div class="menu" id="menu">
                
                <ul class="startermenu">
                    <li class="home" data-section="home"><a href="/" title="Domov">Domov</a></li>
                    <li class="Gallery" data-section="Gallery"><a href="/gallery" title="Galéria">Galéria</a></li>
                    <li class="Blog" data-section="Blog"><a href="/blog" title="Blog">Blog</a></li>
                    <li class="About" data-section="About"><a href="/about_me" title="O mne">O mne</a></li>
                    <li class="kontakt" data-section="Contact"><a href="/contact" title="Kontakt">Kontakt</a></li>
                </ul> 
          
                <div class="connections_container">
                    <p><a href="https://www.facebook.com/TOTOsperky/photos" target="_blank"><i class="fab fa-facebook"></i> Facebook</a></p>
                    <p><a href="https://www.instagram.com/toto_jewelry/" class="instagram" target="_blank"><i class="fab fa-instagram"></i> Instagram</a></p>
                    <p><a href="/cookies">Informácie o cookies</a></p>
                    <p>&copy; 2023 Toto šperky</p>
                </div>
                           
                <div class="switch-box" id="switch-box">
                    <i class="fas fa-sun"></i>
                    <div class="switch" id="switch-btn"></div>
                    <i class="fas fa-moon"></i>
                </div>
                <div class="menu_search">
                    {% include 'partials/search_suggestions.html' %}
                </div>
            </div>   
            <div class="hamburger">
                <a id="toggle"><span></span></a>
            </div>
        </div>
    </div>
</div>
