

{% load static %}
<div class="wrapper starter">
    <div class="main_navbar">
        <div class="inner_navbar">
            <div class="logo">
                <!-- <a href="/"><img src="{% static 'media/logo.jpg' %}" alt="logo"></a> -->
     
              <!-- <a href="/"><h2>Georeal</h2></a>  -->
            </div>
            <div class="menu" id="menu">
                <ul>
                    <li class="home" data-section="home"><a href="/" title="Domov">Domov</a></li>
                    <li class="Gallery" data-section="Gallery"><a href="/gallery" title="Gallery">Galeria</a></li>
                    <li class="Blog" data-section="Blog"><a href="" title="Blog">Blog</a></li>
                    <li class="About" data-section="About"><a href="" title="About">O mne</a></li>
                    <li class="kontakt" data-section="kontakt"><a href="" title="Kontakt">Kontakt</a></li>
{#                    {% if user.is_authenticated %}#}
{#                    <li><a href="/logout">Odhlásiť sa</a></li>#}
{#                    {% endif %}#}

                <div class="switch-box" id="switch-box">
                    <i class="fas fa-sun"></i>
                    <div class="switch" id="switch-btn"></div>
                    <i class="fas fa-moon"></i>
                </div>
                </ul>                   
            </div>   

            <div class="hamburger">
            
                <a id="toggle"><span></span></a>
            </div>
            

        

        </div>
    </div>
</div>

<script>
    var theToggle = document.getElementById('toggle');

// based on Todd Motto functions
// https://toddmotto.com/labs/reusable-js/

// hasClass
function hasClass(elem, className) {
	return new RegExp(' ' + className + ' ').test(' ' + elem.className + ' ');
}
// addClass
function addClass(elem, className) {
    if (!hasClass(elem, className)) {
    	elem.className += ' ' + className;
    }
}
// removeClass
function removeClass(elem, className) {
	var newClass = ' ' + elem.className.replace( /[\t\r\n]/g, ' ') + ' ';
	if (hasClass(elem, className)) {
        while (newClass.indexOf(' ' + className + ' ') >= 0 ) {
            newClass = newClass.replace(' ' + className + ' ', ' ');
        }
        elem.className = newClass.replace(/^\s+|\s+$/g, '');
    }
}
// toggleClass
function toggleClass(elem, className) {
	var newClass = ' ' + elem.className.replace( /[\t\r\n]/g, " " ) + ' ';
    if (hasClass(elem, className)) {
        while (newClass.indexOf(" " + className + " ") >= 0 ) {
            newClass = newClass.replace( " " + className + " " , " " );
        }
        elem.className = newClass.replace(/^\s+|\s+$/g, '');
    } else {
        elem.className += ' ' + className;
    }
}

theToggle.onclick = function() {
   toggleClass(this, 'on');
   return false;
}
</script>