{% extends 'base.html' %}
{% load static %}
{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<div class="product_detail_container">
    <div class="product_detail_image">
        {% if product.video %}
        <video controls autoplay="" loop muted playsinline>
            <source src="{{ product.video.url }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        {% else %}
          {% if product.image %}
            <img src="{{ product.image.url }}" alt="{{ product.name }}" slug="{{ product.slug }}">
          {% endif %}
        {% endif %}
    </div>
    <div class="product_detail_text">
        <h1>{{ product.name }}</h1>
        <p>{{ product.description }}</p>
    </div>
    <div class="product_buttons">
      <a href="{% url 'update_product' product.slug %}"><button>Upraviť</button></a>
      <a href="{% url 'delete_product' product.slug %}"><button>Odstrániť</button></a>
    </div>
    <div class="button_back">
        <button onclick="handleBackButton()">Späť</button>
    </div>
</div>
<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close-button">&times;</span>

        <div class="modal-body">
            <img src="" class="modal-img" alt="">
        </div>
    </div>
</div>

<script>
    function handleBackButton() {
    if (history.scrollRestoration === 'auto') {
        // If history restoration is enabled, use it to go back to the previous scroll position
        history.scrollRestoration = 'manual'; // Disable automatic scroll restoration
        history.back(); // Go back in history
        history.scrollRestoration = 'auto'; // Re-enable automatic scroll restoration
    } else {
        // If history restoration is not supported, manually set the scroll position
        const scrollPosition = history.state?.scrollPosition; // Get the scroll position from history state
        if (scrollPosition) {
            window.scrollTo({
                top: scrollPosition.y,
                behavior: 'smooth' // Animate the scroll for a smooth transition
            });
        } else {
            // If scroll position is not available, go back to top
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
        }
    }
}

</script>

<script>
document.addEventListener('DOMContentLoaded', function () {
  const modal = document.getElementById('modal');
  const modalContent = document.querySelector('.modal-content img');
  const galleryImages = document.querySelectorAll('.product_detail_image img');
  const body = document.querySelector('body');  // Get the body element

  galleryImages.forEach(img => {
    img.addEventListener('click', function () {
      const imageUrl = this.getAttribute('src');
      modalContent.setAttribute('src', imageUrl);
      modal.style.display = 'flex';

      // Disable body scrolling when modal is open
      body.style.overflow = 'hidden';  // Add this line
    });
  });

  const closeButton = document.querySelector('.close-button');
  closeButton.addEventListener('click', function () {
    modal.style.display = 'none';

    // Re-enable body scrolling when modal is closed
    body.style.overflow = 'auto';  // Add this line
  });

  modal.addEventListener('click', function (e) {
    if (e.target === modal) {
      modal.style.display = 'none';
      body.style.overflow = 'auto';  // Re-enable scrolling on modal close
    }
  });
});
  </script>
{% endblock %}
