{% extends 'base.html' %}
{% load static %}
{% block title %}Upraviť kategóriu{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/crud.css' %}">
<div class="container_add_product">
    <h1>Upraviť kategóriu</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_name">Názov:</label>
            {{ form.name }}
        </div>
            {{ form.slug }}
        <div class="form-group media">
            <label for="id_image">Obrázok:</label>
            {{ form.image }}
            <div id="image-preview">
                <p id="file-name-image"></p>
                <img id="image-thumb" style="display: none; max-width: 200px; max-height: 200px;">
            </div>
            {% if form.errors.image %}
                <div class="alert alert-danger">{{ form.errors.image }}</div>
            {% endif %}
        </div>
        <button class="btn" type="submit">Uložiť zmeny</button>
        <div id="loading-message" style="display: none;">Kategória se nahrává, prosím čekejte...</div>
    </form>
    <button class="delete-button" id="delete-button" type="submit">
        <a href="{% url 'toto_sperky_web:delete_category' category.slug %}" >
        </a>
        <svg class="delete-svgIcon" viewBox="0 0 448 512">
            <path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"></path>
        </svg>
    </button>
</div>

<script>
    document.getElementById('id_image').addEventListener('change', function(event) {
        const fileInput = event.target;
        const file = fileInput.files[0];
        const fileName = document.getElementById('file-name-image');
        const imageThumb = document.getElementById('image-thumb');
    
        if (file) {
            // Display the file name
            fileName.textContent = file.name;
    
            // Create a URL for the selected file and display the image preview
            const reader = new FileReader();
            reader.onload = function(e) {
                imageThumb.src = e.target.result;
                imageThumb.style.display = 'block';
            }
            reader.readAsDataURL(file);
        } else {
            // Clear the file name and hide the image preview if no file is selected
            fileName.textContent = '';
            imageThumb.style.display = 'none';
            imageThumb.src = '';
        }
    });
    
    </script>


<script>
    document.getElementById('delete-button').addEventListener('click', function() {
        this.classList.add('active');
    });
    
  

    // Odstráni aktívny efekt, ak používateľ klikne mimo tlačidla
    window.addEventListener('click', function(event) {
        var deleteButton = document.getElementById('delete-button');
        if (event.target !== deleteButton) {
            deleteButton.classList.remove('active');
        }
    });
</script>

<script>
    // Získání formuláře
    const form = document.getElementById('product-form');
    // Získání tlačítka "Save"
    const saveButton = document.getElementById('save-button');
    // Získání zprávy o nahrávání
    const loadingMessage = document.getElementById('loading-message');

    // Přidání posluchače události na formulář pro deaktivaci tlačítka "Save" při odesílání formuláře
    form.addEventListener('submit', function(event) {
        // Deaktivace tlačítka "Save"
        saveButton.disabled = true;
        // Zobrazení zprávy o nahrávání
        loadingMessage.style.display = 'block';
    });

    // Přidání posluchače události na pole "video" pro povolení / zakázání tlačítka "Save" v závislosti na tom, zda je vybráno video pro nahrání
    const videoField = document.getElementById('id_video');
    videoField.addEventListener('change', function() {
        if (this.files.length > 0) {
            // Pokud je vybráno video, povolíme tlačítko "Save"
            saveButton.disabled = false;
        } else {
            // Pokud není vybráno žádné video, zakážeme tlačítko "Save"
            saveButton.disabled = true;
        }
    });
</script>
{% endblock %}