{% load static %}
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "ItemList",
      "itemListElement": [
        {% for product in products %}
        {
          "@type": "ListItem",
          "position": {{ forloop.counter }},
          "item": {
            "@type": "Product",
            "name": "{{ product.name }}",
            "description": "{{ product.description }}",
            {% if product.video_webm %}
            "video": {
              "@type": "VideoObject",
              "contentUrl": "{{ product.video_webm.url }}",
              "thumbnailUrl": "{{ product.video_thumbnail.url }}"
            },
            {% endif %}
            {% if product.image %}
            "image": "{{ product.image.url }}",
            {% endif %}
            "url": "{{ request.build_absolute_uri }}{{ product.get_absolute_url }}"
          }
        }{% if not forloop.last %},{% endif %}
        {% endfor %}
      ]
    }
</script>

<div class="gallery_container">
    {% if not selected_category %}
        <h3 class="navigation">Galéria/Všetko</h3>
        {% endif %}
        {% for category in categories %}
        {% if category.slug == selected_category %}
        <h3 class="navigation">Galéria/{{ category.name }}</h3>
        {% endif %}
    {% endfor %}

    <div class="container starter">
        {% for product in products %}
        <div class="box">
            <a href="{{ product.get_absolute_url }}">
                {% if product.video %}
                <video autoplay="" loop muted playsinline loading="lazy">
                    {% if product.video_thumbnail %}
                    <source src="{{ product.video_thumbnail.url }}" type="video/mp4">
                    {% endif %}
                    Your browser does not support the video tag.
                </video>
                {% else %}
                    {% if product.image_thumbnail %}
                    <img src="{{ product.image_thumbnail.url }}" alt="{{ product.name }}" loading="lazy">
                    {% endif %}
                {% endif %}
                <div class="description_card">
                    <h3 class="product_name">{{ product.name }}</h3>
                    <p class="product_description">{{ product.description }}</p>
                    <button>
                        Viac
                        <div class="arrow-wrapper">
                            <div class="arrow"></div>
                        </div>
                    </button>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    {% if not products %}
    <p>Nenašli sa žiadne produkty.</p>
    {% endif %}

    <div class="pagination">
        <span class="step-links">
            {% for num in first_range %}
            {% if num == products.number %}
            <a class="current-page" href="?category={{ selected_category }}&page={{ num }}">{{ num }}</a>
            {% else %}
            <a href="?category={{ selected_category }}&page={{ num }}">{{ num }}</a>
            {% endif %}
            {% endfor %}
            
            {% if first_range|last < paginator.num_pages|add:'-3' and products.number < paginator.num_pages|add:'-3' %}
            <span>...</span>
            {% endif %}
            
            {% for num in middle_range %}
            {% if num == products.number %}
            <a class="current-page" href="?category={{ selected_category }}&page={{ num }}">{{ num }}</a>
            {% else %}
            <a href="?category={{ selected_category }}&page={{ num }}">{{ num }}</a>
            {% endif %}
            {% endfor %}
            
            {% if last_range|first > 3 and products.number >= 5 %}
            <span>...</span>
            {% endif %}
            
            {% for num in last_range %}
            {% if num == products.number %}
            <a class="current-page" href="?category={{ selected_category }}&page={{ num }}">{{ num }}</a>
            {% else %}
            <a href="?category={{ selected_category }}&page={{ num }}">{{ num }}</a>
            {% endif %}
            {% endfor %}

        </span>
        
        <details id="details-element">
            <summary id="details-summary">Viac možnosti</summary>
            <span class="items-per-page">
                <form method="get">
                    <label for="itemsPerPage">Položiek na stránke:</label>
                    <select name="itemsPerPage" id="itemsPerPage" onchange="this.form.submit()">
                        <option value="15" {% if products.paginator.per_page == 10 %} selected {% endif %}>15</option>
                        <option value="30" {% if products.paginator.per_page == 30 %} selected {% endif %}>30</option>
                        <option value="50" {% if products.paginator.per_page == 50 %} selected {% endif %}>50</option>
                    </select>
                </form>
            </span>
            <span class="go-to-page">
                <form method="get">
                    <label for="goToPage">Ísť na stránku:</label>
                    <input type="number" name="page" id="goToPage" min="1" max="{{ products.paginator.num_pages }}">
                    <button type="submit">Ísť</button>
                </form>
            </span>
        </details>
    </div>
    {% if user.is_authenticated %}
    <div class="home_buttons">
        <a href="{% url 'toto_sperky_web:add_product' %}" class="btn type1">Pridať produkt</a>
    </div>
    {% endif %}

</div>

        
            
<script>
function initializeGSAPAnimations() {
        gsap.utils.toArray('.container').forEach((elem) => {
            let lines = elem.querySelectorAll('.container .box');

            lines.forEach((line) => {
                let timeline = gsap.timeline({
                    ease: "elastic",
                    scrollTrigger: {
                        trigger: line,
                        start: "top 630svh",
                        end: "bottom 600svh",
                        scrub: false,
                        toggleActions: "restart none none reverse",
                    },
                });

                timeline.from(line, { opacity: 0, y: 20 });
            });
        });

        gsap.registerPlugin(ScrollTrigger);

        gsap.utils.toArray('.line_center_short').forEach((elem) => {
            let line = elem.querySelector('.line');
            let lineLength = line.getTotalLength();

            line.style.strokeDasharray = lineLength;
            line.style.strokeDashoffset = lineLength;

            let Timeline = gsap.timeline({
                scrollTrigger: {
                    trigger: elem,
                    easy: "linear",
                    start: "top 500svh",
                    end: "bottom 300svh",
                    scrub: true,
                }
            });

            Timeline
                .to(line, { strokeDashoffset: 0 })
        });

    }

    function checkAspectRatio() {
        const videos = document.querySelectorAll('.container .box a video');

        videos.forEach(video => {
            if (video.readyState >= 1) {
                const width = video.videoWidth;
                const height = video.videoHeight;

                if (width > height) {
                    video.closest('.box').classList.add('wide');
                } else {
                    video.closest('.box').classList.add('tall');
                }
            } else {
                video.addEventListener('loadedmetadata', () => {
                    const width = video.videoWidth;
                    const height = video.videoHeight;

                    if (width > height) {
                        video.closest('.box').classList.add('wide');
                    } else {
                        video.closest('.box').classList.add('tall');
                    }
                });
            }
        });

        const images = document.querySelectorAll('.container .box a img');

        images.forEach(image => {
            if (image.complete) {
                const width = image.naturalWidth;
                const height = image.naturalHeight;

                if (width > height) {
                    image.closest('.box').classList.add('wide');
                } else {
                    image.closest('.box').classList.add('tall');
                }
            } else {
                image.addEventListener('load', () => {
                    const width = image.naturalWidth;
                    const height = image.naturalHeight;

                    if (width > height) {
                        image.closest('.box').classList.add('wide');
                    } else {
                        image.closest('.box').classList.add('tall');
                    }
                });
            }
        });
    }

    function isTouchScreen() {
        return 'ontouchstart' in window || navigator.maxTouchPoints > 0;
    }

    function initializeMobileHover() {
        if (isTouchScreen()) {
            let links = gsap.utils.toArray('.box');

            links.forEach((link) => {
                link.addEventListener('click', function(event) {
                    if (!link.classList.contains('hover')) {
                        event.preventDefault();
                        links.forEach(l => l.classList.remove('hover'));
                        link.classList.add('hover');
                    } else {
                        link.classList.remove('hover');
                    }
                });
            });

            window.addEventListener('scroll', function() {
                links.forEach((link) => {
                    link.classList.remove('hover');
                });
            });
        }
    }
    </script>    





    









